@charset "UTF-8";

html, body {
  width: 100%;
  margin: 0; padding: 0;
  font-size: 100%;
  color: black;
  font-family: sans-serif;
}

.datetimepicker {
  position: fixed;
  width: 100%
}

.unit {
    display: flex;
    justify-content: space-around;
    position: absolute;
    width: 100%;
    height: 1.5em;
    top: 0;
    background: rgba(136, 136, 136, 0.81);
}

.picker {
  font-size: 1em;
  display: block;
  position: absolute;
  width: 100%; height: 7.5em;
  margin: 0 auto;
  /*border: 1px solid gray;*/
  overflow: hidden;
}

.center-view {
  display: block;
  position: absolute;
  border-top: 1px solid rgba(200, 200, 200, 1);
  border-bottom: 1px solid rgba(200, 200, 200, 1);
  width: 100%; height: 1.5em;
  top: 3em;
}

.slot {
  display: inline-block;
  min-width: 20%; height: auto;
  margin: 0 auto;
  text-align: center;
  vertical-align: top;
  /*border: 1px solid red;*/
  /*transform: translateY(3em);*/
  color: rgba(120, 120, 120, .5);
}

.option {
  display: block;
  font-size: 1em;
  line-height: 1.5em
}
.option:after {
  content: '';
  position: absolute;
}

.chosen {
  color: black;
}

.button-group {
    width: 100%;
    display: flex;
    justify-content: space-around;
    top: 120px;
    position: absolute;
    box-sizing: border-box;
    border-top: 1px solid rgba(120, 120, 120, .5);
}
.button-group div {
  width: 100%;
  text-align: center;
  line-height: 1.5em;
  background: rgba(255, 255, 255, 0);
}
